[Unit]
Description=Daily backup for hard drive files
Wants=hd-backup.timer

[Service]
ExecStart=restic --verbose --exclude-file=/home/gabriel/Dotfiles/backups/hd/exclusions.txt backup /run/media/gabriel/Geral
EnvironmentFile=/home/gabriel/Dotfiles/backups/hd/env

[Install]
WantedBy=basic.target
